/* 聊天主視窗 CSS */
.chat-window {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    margin-top: 120px;
    border-top: 1px solid #8d8c8c;
    border-left: 1px solid #8d8c8c;
    border-right: 1px solid #8d8c8c;
    border-radius: 8px;
    overflow: hidden;
}

/* 共用 CSS */
.chat-header, .chat-message, .chat-footer {
    display: flex;
    border-bottom: 1px solid #8d8c8c;
    box-sizing: border-box;
}
.chat-header_user, .chat-messages_list, .chat-footer_bar {
    width: 280px;
    padding: 10px;
    border-right: 1px solid #8d8c8c;
    box-sizing: border-box;
}
.chat-header_partner, .chat-messages_content, .chat-footer_input {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

/* chat-header */
.chat-header {
    height: 50px;
    background-color: rgb(198, 203, 204);
}

/* chat-message */
.chat-message {
    height: 400px;
}
.chat-friendList, .chat-addFriend {
    display: none;
}
.friend_input {
    width: 180px;
    height: 18px;
    padding: 5px;
    font-family: "Noto Sans TC";
}
.addFriend-button {
    height: 30px;
    box-sizing: border-box;
}

/* chat-footer */
.chat-footer {
    height: 50px;
}
.chat-footer_bar {
    display: flex;
}
.icon_messagesList, .icon_friendList, .icon_addFriend {
    flex: 1;
    margin: 0px 5px 0px 5px;
    padding: 0px 5px 0px 5px;
    text-align: center;
    color: #575454;
    border: 1px solid #8d8c8c;
    cursor: pointer;
}
.chat-input {
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-family: "Noto Sans TC";
}