.header-nav_chat, .header-nav_logout {
    display: none;
}

.main {
    flex: 1;
    background-image: url('../images/background-light.png');
    background-size: cover;
    height: 783px;
}
.main-container {
    padding: 350px 0px 0px 100px;
}
.main-container_slogan {
    color: rgba(255, 255, 255, 0.9);
    font-size: 48px;
    font-weight: 500;
    text-shadow: 2px 2px 4px black;
}
.main-container_intro {
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    text-shadow: 2px 2px 4px black;
}
.main-container_start {
    width: 120px;
    margin: 50px 0px 0px 0px;
    padding: 10px 15px 10px 15px;
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}