.header-nav_chat, .header-nav_logout {
    display: none;
}

.main {
    flex: 1;
    background-image: url('../images/background-light.png');
    background-size: cover;
    height: 783px;
}
.main-container {
    padding: 400px 0px 0px 100px;
}
.main-container_slogan {
    color: white;
    font-size: 48px;
    font-weight: 500;
}
.main-container_intro {
    color: white;
    font-size: 36px;
    font-weight: 500;
}