/* main CSS */
.main {
    width: 350px;
    margin: 0 auto;
    margin-top: 200px;
}
.main-login_title, .main-signup_title {
    width: 348px;
    line-height: 60px;
    text-align:center;
    background-color: rgb(230, 229, 229);
    border: 1px solid #a7a3a3;
    color: #666;
    font-size: 21px;
    font-weight: 500;
}
.main-input {
    width: 348px;
    border-left: 1px solid #a7a3a3;
    border-right: 1px solid #a7a3a3;
    border-bottom: 1px solid #a7a3a3;
}
.login-email, .login-password, .signup-email, .signup-password {
    width: 348px;
    height: 60px;
    padding: 14px;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 17px;
    font-family: "Noto Sans TC";
}
.login-button, .signup-button {
    width: 350px;
    height: 60px;
    padding: 10px;
    margin: 20px 0px 10px 0px;
    border: 1px solid #a7a3a3;
    background-color: #706f6f;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
}
.signup-link, .login-link {
    text-align: center;
}
.signup-link-span, .login-link-span {
    color: #525252;
    border-bottom: 1px solid #525252;
    cursor: pointer;
}
.login-error, .signup-error {
    display: none;
    margin-top: 20px;
    padding-left: 5px;
    font-weight: 500;
    color: rgb(238, 36, 36);
}