<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <title>LET'S CHAT</title>
        <link rel="stylesheet" type="text/css" href="style/base.css" />
        <link rel="stylesheet" type="text/css" href="style/chat.css" />
    </head>
    <body>

        <header class="header">
            <div class="header-container">
                <div class="header-title">LET'S CHAT</div>
                <nav class="header-nav">
                    <div class="header-nav_logout">Logout</div>
                </nav>
            </div>
        </header>

        <main class="chat-window">
            <div class="chat-header">
                <div class="chat-header_user">User Name</div>
                <div class="chat-header_partner">Partner Name</div>
            </div>
        
            <div class="chat-message">
                <div class="chat-messages_list">
                    <div class="chat-messagesList"></div> <!-- 列表用 JS 自動生成 -->
                    <div class="chat-friendList"> <!-- 列表用 JS 自動生成 -->
                        <div class="friendList-check"></div>
                    </div>
                    <div class="chat-addFriend">
                        <div class="addFriend-search">
                            <span class="chat-addFriend_input"><input type="text" class="friend_input" placeholder="Search friends"></span>
                            <span><button class="addFriend-button">Search</button></span>
                            <div class="addFriend-result"></div>
                        </div>
                        <div class="addFriend-title">待確認好友名單</div>
                        <div class="addFriend-check"></div>
                    </div>
                </div>                
                <div class="chat-messages_content">
                    <ul class="ul"></ul>
                </div>
            </div>
        
            <div class="chat-footer">
                <div class="chat-footer_bar">
                    <div class="icon_messagesList">聊天列表</div>
                    <div class="icon_friendList">好友列表</div>
                    <div class="icon_addFriend">加好友</div>
                </div>
                <div class="chat-footer_input"><input type="text" class="chat-input" placeholder="Type your message"></div>
                <button class="chat-button">Send</button>
            </div>
        </main>

        <footer class="footer">
            <div class="footer-container">COPYRIGHT © 2023 LET'S CHAT</div>
        </footer>

        <!-- 引用 socket.io 的客戶端套件 -->
        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
        <script src="script/base.js"></script>
        <script src="script/chat.js"></script>
    </body>
</html>