<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <title>LET'S CHAT</title>
        <link rel="stylesheet" type="text/css" href="../public/style/chat.css" />
    </head>
    <body>

        <header class="header">
            <div class="header-container">
                <div class="header-title">LET'S CHAT</div>
                <nav class="header-nav">
                    <div class="header-nav_logout">Logout</div>
                </nav>
            </div>
        </header>

        <main class="chat-window">
            <div class="chat-header">
                <div class="chat-header_user">User Name</div>
                <div class="chat-header_partner">Partner Name</div>
            </div>
        
            <div class="chat-message">
                <div class="chat-messages_list">Conversation List</div>
                <div class="chat-messages_content">Conversation Message</div>
            </div>
        
            <div class="chat-footer">
                <div class="chat-footer_bar">Toolbar</div>
                <div class="chat-footer_input"><input type="text" class="chat-input" placeholder="Type your message"></div>
            </div>
        </main>

        <footer class="footer">
            <div class="footer-container">COPYRIGHT © 2023 LET'S CHAT</div>
        </footer>

        <script src="../public/script/base.js"></script>
    </body>
</html>