<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <title>LET'S CHAT</title>
        <link rel="stylesheet" type="text/css" href="style/base.css" />
        <link rel="stylesheet" type="text/css" href="style/chat.css" />
    </head>
    <body>

        <header class="header">
            <div class="header-container">
                <div class="header-title">LET'S CHAT</div>
                <nav class="header-nav">
                    <div class="header-nav_logout">Logout</div>
                </nav>
            </div>
        </header>

        <main class="main">
            <main class="chat-window">
                <div class="chat-header">
                    <div class="chat-header_user">
                        <div class="chat-header_icon"></div>
                        <div class="chat-header_container">
                            <div class="chat-header_name"></div>
                            <div class="chat-header_status"></div>
                        </div>
                    </div>
                    <div class="chat-header_partner">
                        <div class="chat-header_setting"></div>
                        <div class="chat-partner_icon"></div>
                        <div class="chat-partner_container">
                            <div class="chat-partner_name"></div>
                            <div class="chat-partner_status"></div>
                        </div>                     
                    </div>
                    <div class="callButton"></div>
                </div>
            
                <div class="chat-message">
                    <div class="chat-messages_list">
                        <div class="chat-messagesList">
                            <div class="messagesList-check"></div>
                        </div>
                        <div class="chat-friendList">
                            <div class="friendList-check"></div>
                        </div>
                        <div class="chat-addFriend">
                            <div>
                                <div class="addFriend-search">
                                    <span class="chat-addFriend_input"><input type="text" class="friend_input" placeholder="輸入Email搜尋好友"></span>
                                    <span><div class="addFriend-button"></div></span>
                                </div>
                                <div class="addFriend-result"></div>
                            </div>
                            <div class="addFriend-title">待確認好友邀請</div>
                            <div class="addFriend-check"></div>
                        </div>
                    </div>                
                    <div class="chat-messages_content">
                        <div class="chat-index">
                            <div class="chat-index_pic"></div>
                            <div class="chat-index_word">開始聊天吧！</div>
                        </div>
                        <div class="chat-messages_setting">
                            <div class="setting">
                                <div>
                                    <div class="setting-pic" id="profilePic">
                                        <div class="change-setting-pic" id="changeProfilePic"></div>
                                    </div>
                                    <input type="file" id="fileInput" style="display: none;">
                                </div>
                                <div class="data-setting">
                                    <div class="data-setting_name">
                                        <div class="data-name">暱稱</div>
                                        <div class="name-content" contenteditable="false">尚未設定</div>
                                        <div class="data-name_change"> </div>
                                    </div>

                                    <div class="data-setting_status">
                                        <div class="data-status">狀態</div>
                                        <div class="status-content" contenteditable="false"></div>
                                        <div class="status-nocontent">尚未設定</div>
                                        <div class="data-status_change"> </div>
                                    </div>

                                    <div class="data-setting_email">
                                        <div class="data-email">Email</div>
                                        <div class="email-content" contenteditable="false"></div>
                                        <div class="data-email_change" style="display:none" id="changeSettingPic"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ul"></div>
                    </div>
                </div>
            
                <div class="chat-footer">
                    <div class="chat-footer_bar">
                        <div class="icon_friendList"></div>
                        <div class="icon_messagesList"></div>
                        <div class="icon_addFriend"></div>
                        <div class="icon_setting"></div>
                    </div>
                    <div class="chat-input_container"></div>
                </div>

                <div class="emoji">
                    <div class="emoji-container">
                        <span>😊</span>
                        <span>😃</span>
                        <span>😍</span>
                        <span>😏</span>
                        <span>😘</span>
                    </div>
                    <div class="emoji-container">
                        <span>😳</span>
                        <span>😆</span>
                        <span>😜</span>
                        <span>😉</span>
                        <span>😴</span>
                    </div>
                    <div class="emoji-container">
                        <span>😟</span>
                        <span>😮</span>
                        <span>😑</span>
                        <span>😅</span>
                        <span>😂</span>
                    </div>
                    <div class="emoji-container">
                        <span>😥</span>
                        <span>😭</span>
                        <span>😱</span>
                        <span>😫</span>
                        <span>😪</span>
                    </div>
                    <div class="emoji-container">
                        <span>😡</span>
                        <span>😤</span>
                        <span>😎</span>
                        <span>❤️</span>
                        <span>🐧</span>
                    </div>            
                </div>
            </main>
        </main>

        <div id="callRequestModal" class="modal" style="display: none;">
            <div class="modal-content">
                <div class="callRequestIcon"></div>
                <div class="callRequestName"></div>
                <div class="callRequestStatus">等待對方接聽</div>
                <div class="cancelCallButton"></div>
            </div>
        </div>

        <div id="callResponseModal" class="modal" style="display: none;">
            <div class="modal-content">
                <div class="callResponseIcon"></div>
                <div class="callResponseName"></div>
                <div class="callResponseStatus">來電中</div>
                <div class="responseButton">
                    <div class="acceptCallButton"></div>
                    <div class="rejectCallButton"></div>
                </div>
            </div>
        </div>

        <div id="callInProgressModal" class="modal" style="display: none;">
            <div class="modal-content">
                <div class="callProgressIcon"></div>
                <div class="callProgressName"></div>
                <div class="callProgressStatus">通話中</div>
                <div class="hangupButton"></div>
            </div>
        </div>

        <audio id="localAudio" autoplay></audio>
        <audio id="remoteAudio" autoplay></audio>

        <footer class="footer">
            <div class="footer-container">COPYRIGHT © 2023 LET'S CHAT</div>
        </footer>

        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/peerjs@1.5.1/dist/peerjs.min.js"></script>
        <script src="script/chat.js"></script>
        <script src="script/chatMessage.js"></script>
        <script src="script/chatFriend.js"></script>
        <script src="script/chatSocket.js"></script>        
        <script src="script/chatSetting.js"></script>

    </body>
</html>