<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <title>LET'S CHAT</title>
        <link rel="stylesheet" type="text/css" href="../public/style/login.css" />
    </head>
    <body>

        <header class="header">
            <div class="header-container">
                <div class="header-title">LET'S CHAT</div>
                <nav class="header-nav">
                    <div class="header-nav_login">Login</div>
                </nav>
            </div>
        </header>

        <main class="main">
            <div class="main-login_title">使用電子郵件登入</div>
            <div class="main-input"><input class="login-email" type="text" placeholder="電子郵件帳號"></div>
            <div class="main-input"><input class="login-password" type="password" placeholder="密碼"></div>
            <button class="login-button">登入</button>
        </main>

        <footer class="footer">
            <div class="footer-container">COPYRIGHT © 2023 LET'S CHAT</div>
        </footer>

        <script src="../public/script/base.js"></script>
        <script src="../public/script/login.js"></script>
    </body>
</html>