<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <title>LET'S CHAT</title>
        <link rel="stylesheet" type="text/css" href="style/login.css" />
    </head>
    <body>

        <header class="header">
            <div class="header-container">
                <div class="header-title">LET'S CHAT</div>
                <nav class="header-nav">
                    <div class="header-nav_login">Login</div>
                </nav>
            </div>
        </header>

        <main class="main">
            <div class="main-signup_title">使用電子郵件註冊</div>
            <div class="main-input"><input class="signup-email" type="text" placeholder="電子郵件帳號"></div>
            <div class="main-input"><input class="signup-password" type="password" placeholder="密碼（請輸入8-16位英數字）"></div>
            <div class="signup-error"></div>
            <button class="signup-button">註冊</button>
            <div class="login-link"><span class="login-link-span">已有帳戶？按這裡進行登入</span></div>
        </main>

        <footer class="footer">
            <div class="footer-container">COPYRIGHT © 2023 LET'S CHAT</div>
        </footer>

        <script src="script/base.js"></script>
        <script src="script/signup.js"></script>
    </body>
</html>